:root{
    background-color: #FBFCFA;
}

nav{
    position: absolute;
    left: 25%;
    top: 0;
}

.wrapper{
    position: absolute;
    left: 31%;
    top: 15%;
}
.imgWrapper{
    margin-left: 5px;
    margin-bottom: 25px;
}

.imgTitle{
    margin-left: 35%;
    font-weight: 100;
    font-size: 29px;
    color: #232323;
    text-shadow: 2px 2px 2px #303030;
    margin-top: 75px;
}

.images{
    height: 450px;
    width: 500px;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.page-link{
    cursor: pointer;
}

